# example file 
# change working directory to your needs
[Unit]
Description=LED web Server

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/The-perfect-LED-controller
# ExecStart=/usr/bin/local/npm run webserver:prod
ExecStart=/usr/bin/npm run webserver:prod
Restart=on-failure

[Install]
WantedBy=multi-user.target