# example file 
# change working directory to your needs
[Unit]
Description=LumiFlex

[Service]
Type=simple
User=root
WorkingDirectory=/home/pi/The-perfect-LED-controller
# ExecStart=/usr/bin/local/bun server.ts
ExecStart=/usr/bin/bun server.ts
Restart=on-failure

[Install]
WantedBy=multi-user.target