.time-picker {
    background-color: white;
    color: black;
}
.date-picker {
    background-color: white;
    color: black;
}

.warning-button {
    animation-name: warning;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes warning {
    0% {background-color: none;}
    50% {background-color: red;}
    100% {background-color: none;}
  }